<!DOCTYPE html>
<html>
    <body>
        <h1>Table Data</h1>
    <body>
    <!-- Left section content will be inserted here -->
    <table>
        <tr>
            <th>koi_id</th>
            <th>kep_mag</th>
            <th>Rstar</th>
            <th>logrho</th>
            <th>Teff</th>
            <th>logg</th>
        </tr>
        {% for row in table_data %}
        <tr>
            <td><a href="/star/{{ row['koi_id'] }}">{{ row['koi_id'] }}</a></td>
            <td>{{ row['kep_mag'] }}</td>
            <td>{{ row['Rstar'] }}</td>
            <td>{{ row['logrho'] }}</td>
            <td>{{ row['Teff'] }}</td>
            <td>{{ row['logg'] }}</td>
        </tr>
        {% endfor %}
    </table>
</html>