<!DOCTYPE html>
<html>
<head>
    <title>Right Section</title>
</head>
<body>
    <h1>Welcome to the Right Section!</h1>
    <!-- Add your content for the right section here -->
    <div id="koi_id_container">
        <!-- The selected "koi_id" will be displayed here -->
    </div>

    <!--comment file displayed-->
    <div id="file_content_container"></div>

    <h2>Comments</h2>
        <form id="comment_form" method="POST">
            <textarea name="comment" rows="4" cols="50" placeholder="Type your comment here..."></textarea>
            <br>
            <input type="submit" value="Submit Comment">
        </form>
        <div id="file_content_container"></div>
    <!-- <div id="comment_box_container" style="display: none;">
        <h2>Comment Box</h2>
        <form id="comment_form">
            <input type="hidden" id="koi_id_input" name="koi_id">
            <textarea id="comment_input" name="comment" rows="4" cols="50"></textarea><br>
            <input type="submit" value="Submit Comment">

        </form>
    </div> -->


    </div>

</body>
</html>



<!--     {% if has_comment_file %}
    <div class="comment-box" id="comment-box">
        <h2>Comment Box</h2>
        <p>Enter your comments here:</p>
        <textarea rows="4" cols="50"></textarea>
        <br>
        <button>Submit</button>
    </div>
    {% endif %} -->

        <!-- <h2>Comments</h2>
        <form id="comment_form" method="POST">
            <textarea name="comment" rows="4" cols="50" placeholder="Type your comment here..."></textarea>
            <br>
            <input type="submit" value="Submit Comment">
        </form>
        <div id="file_content_container"></div> -->

    <!--Plot will be inserted here-->
    <!-- <div id="plot_container"></div>


    <div id="comment-box"> -->