<!DOCTYPE html>
<html>
<head>
    <title>Plot Web App</title>
    <!-- Plotly JS library from CDN -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Enter the Project Directory:</h1>

        <form action="/save_project_dir" method="post">
            <input type="text" class="input-box" placeholder="Enter Project Directory" name="project_dir">
            <button type="submit">Submit</button>
        </form>
        {% if project_dir %}
            <div class="output">Current Project Directory: {{ project_dir }}</div>
        {% endif %} 

        <br>
        <h2>Enter the Star ID:</h2>
        <form action="/save_star_id" method="POST">
            <input type="text" class="input_box" placeholder="Enter Star Id" name="star_id">
            <button type="submit">Submit Star ID</button>
        </form>


        {% if star_id %}
            <div class="output">Star ID: {{ star_id }}</div>
            {% if star_file_content %}
                <div class="output">File Content for {{ star_id }}:</div>
                <pre>{{ star_file_content }}</pre>
            {% else %}
                <div class="output">No file found for {{ star_id }}.</div>
            {% endif %}
        {% endif %}

<!--         <h3>Enter the Star ID:</h3>
        <form action="/" method="post">
            <input type="text" name="file_path">
            <input type="submit" value="Generate Plot">
        </form>
        {% if plot_div %}
            <h2>Plot for Star {{ star_id }}:</h2>
            <div id="plot-div">{{ plot_div | safe }}</div>
        {% endif %} -->

    </div>
    <h3>Enter the Star ID:</h3>
    <form action="/" method="post">
        <input type="text" name="file_path">
        <input type="submit" value="Generate Plot">
    </form>

    <!-- Plot area to display the plot -->
    {% if plot_div %}
        <h2>Plot for Star {{ star_id }}:</h2>
        <div id="plot-div">{{ plot_div | safe }}</div>
    {% endif %}
</body>
</html>

